<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale = 1" />
		<title> {% block title %}Title{% endblock %}</title>
		{% block styles %}
		{% endblock %}
	</head>
	
	<body>
		<h1> Recipe Book </h1>
		
		{% if user.is_authenticated %}
		<form method="POST" action="{% url 'logout' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Logout</button>
		</form>
		{% else %}
		<p>
			You need to be logged in to view recipes. <a href="{% url 'login' %}"> Please click here to login. </a>
		</p>
		{% endif %}
		
		<hr>
		
		<h2>
		{% block page_name %}
		{% endblock %}
		</h2>
		
		{% block content %}
		{% endblock %}
	</body>
</html>